@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* modular scale used: https://www.modularscale.com/?1,1100,12&em&1.3 */

body {
  text-align: center;
  font-size: calc(12px + 1vw); /* Responsive scaling text/font size */
  font-family: 'Nunito', 'Verdana', sans-serif;
  background: rgb(121,83,9);
  background: linear-gradient(0deg, rgba(121,83,9,1) 56%, rgba(168,255,0,1) 100%);
  height: 100%;
  width: 97%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 { font-size: 1.912em; }
h2 { font-size: 1.559em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.199em; }
h6 { font-size: 1.132em; }

p {
  padding: 10px;
  margin: 10px;
}

label{
  width: 100%;
  display: inline-block;
  padding: 5px;
}

input {
	position: relative;
}

#shovel {
	vertical-align: top;
}

#registration {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#submit {
	padding: 10px;
}

@media screen and (min-width: 960px) {
  body {
    width: 75%;
  }
  label{
    padding: 15px;
  }
  p {
	padding: 10px 50px;
  }
}

@media screen and (min-width: 600px) {
  body {
    width: 85%;
  }
  label{
    padding: 10px;
  }
  p {
	padding: 10px 30px;
  }
}